<div ng-controller="ConsCtrl">
	<div class="alerts row">
		<div class="container">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>
	<div class="container">
		<google-map center="map.center" zoom="map.zoom" draggable="true">
			<marker ng-repeat="con in cons | upcoming"coords="{latitude: con.lat, longitude: con.lng}">
				<marker-label content='con.name' anchor='22 0' class='map-marker-label'>
	    		</marker-label>
			</marker>
			<marker ng-if="locationLoaded" icon="'http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png'" coords="{latitude: currentLat, longitude: currentLng}"></marker>

		</google-map>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<form class="form-inline" role="form">
					<div class="input-group">
						<span class="input-group-btn">
							<button class='btn btn-primary' ng-click="geolocate()"><i class="fa fa-crosshairs"></i> Geolocate</button>
						</span>
						<input type="text" class="form-control" placeholder="Enter a place, address, or city" ng-model="address">
				    	<span class="input-group-btn">
				    		<button class="btn btn-primary" type="submit" ng-click="geocode()">Submit</button>
				    	</span>
			    	</div>
			    </form>
			</div>
			<div class="col-xs-6">
				<input type="text" class="form-control" placeholder="Search" ng-model="search">
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				Sort by: 
				<button class='btn btn-primary' ng-click="setSort('name')">Name</button>
				<button class='btn btn-primary' ng-click="setSort('start')">Start Date</button>
				<button class='btn btn-primary' ng-click="setSort('end')">End Date</button>
				<button class='btn btn-primary' ng-click="setSort('location')">Location</button>
				<button class='btn btn-primary' ng-click="setSort('distance')">Distance</button>
			</div>
		</div>
		<div class="col-xs-4">
			<span ng-show="locationLoaded">Current location: {{ currentLat }}, {{ currentLng }}</span>
		</div>
	</div>

	<div class="container">
		<div class="row well well-lg con" ng-repeat="con in cons | upcoming | filter:search | orderBy:sort">
			<div class="col-xs-12"><h3><a href="{{ con.site }}" target="_blank">{{ con.name }}</a></h3></div>
			<div class="col-xs-4"><i class="fa fa-calendar-o"></i> {{ con.start | date: 'MMMM d yyyy' }} - {{ con.end | date: 'MMMM d yyyy' }}</div>
			<div class="col-xs-5"><i class="fa fa-map-marker"></i> <a href="http://maps.google.com/?q={{ con.location }}" target="_blank">{{ con.location }}</a></div>
			<div class="col-xs-2">
				<i class="fa fa-location-arrow"></i>
				<span ng-show="locationLoaded"><a href="https://www.google.com/maps/dir/{{ currentLat }},{{ currentLng }}/{{ con.location }}" target="_blank">{{ con.distance }} km</a></span>
				<span ng-hide="locationLoaded"><i class="fa fa-circle-o-notch fa-spin"></i></span>
			</div>
		</div>
	</div>
</div>