<div class="modal-header">
    <h3 class="modal-title">FAQ</h3>
</div>
<div class="modal-body">
	<h3>What?</h3>
	<p>Confinder is a client-side app that lists various pony conventions and finds the ones closest to you.</p>
	<h3>Why?</h3>
	<p>I wanted to learn Angular.js and this was the least worst idea I could come up with. <span class="shrug">¯\_(ツ)_/¯</span></p>
	<h3>How?</h3>
	<p>Either click the big green Geolocate button, or enter a place and hit submit. You can sort with the sort buttons, and search with the search field. Nifty, huh?</p>
	<h3>Who?</h3>
	<p>This thing was made by <a href="http://jamesliu.ca" target="_blank">James Liu</a>, some nerdy guy on the internet.</p>
	<h3>Where? When?</h3>
	<p>I really don't know how these could possibly be questions you'd ask about this little thing, but I wanted to round out the set.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>
